@model IEnumerable<Adm_Agenda.Models.mdEndereco>

@{
    ViewData["Title"] = "Lista";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Novo Endereço</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ibge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ibge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEndereco">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEndereco">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEndereco">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
