@model IEnumerable<Adm_Agenda.Models.mdAgenda>

@{
    ViewData["Title"] = "Lista";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Novo Compromisso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idContato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtCompromisso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idContato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtCompromisso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAgenda">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAgenda">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAgenda">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
