@model IEnumerable<Adm_Agenda.Models.mdTipoCompromisso>

<h1 id="objTitulo" v-once>{{ titulo }}</h1>

<p>
    <a asp-action="Create">Novo Tipo de Compromisso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoTipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoTipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoCompromisso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoCompromisso">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoCompromisso">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
